body{
    background-color: #5d3891;
    overflow-x: hidden;
}
.formulario {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    
}

.media {
    width: 480px;
    height: 480px;
    background: #FF731D;
    padding: 40px 20px;
    border-radius: 15px;
    position: relative;}

form {
    width: 480px;
    height: 480px;
    background: #FF731D;
    padding: 40px 20px;
    border-radius: 15px;
    position: relative;
}

/* botón registrarse */
form button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #FF731D;
    background: #5d3891;
    margin-top: auto;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #E8E2E2;
}

/* texto registrarse*/
h1{
    font-size: 25px;
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    color: #5d3891;
}

/* ya tienes cuenta */
.cuenta{
    margin-top: 15px;
    color: #E8E2E2;
    text-align: center;
}

/* botón iniciar sesión */
.inicio{
    margin-bottom: 10px;
    text-decoration: none;
    color: #2a4494;
    display: block;
    text-align: center;

}

.inputLogin {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 40px;
    margin: 9px 0px;
    padding: 4px;
    border: 2px solid #2a4494;
    border-radius: 30px;
    align-items: center;
    box-sizing: border-box;
}

.inputLogin input{
    width: 90%;
    border: none;
    padding-left: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 1px;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #fff;
}

form .registrarse{
    margin: 60px 53px;
    display: flex;
    text-align: center;
    padding: 90px;
}

.NuevaMascota {
    font-size: 25px;
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.imagenMascota {
    max-width: 100%;
    height: auto;
    border: 2px solid blue; /* Borde azul */
    display: flex;
    margin: 0 auto; /* Centrar */
    /*justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;*/
    
    
}
.btn.btn-primary.send{
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.ml-3 {
    width: 64px; /* Ancho de la imagen */
    height: 64px; /* Altura de la imagen */
}